.form {
  margin: 60px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.form h2 {
  color: var(--secondary-clr);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top:35px ;
  margin-bottom: 7px;
}

input {
  border: none;
  border-bottom: 1px solid var( --card-paragraph-clr);
  outline: none;
  padding: 5px;
  width: 100%;
}

.button {
  padding: 10px 20px;
  border-radius: 10px !important;
  width: 370px;
  margin-top: 50px;
  color: var(--white-clr);
  border: none;
  cursor: pointer;
}

