.footer{
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: var(--secondary-clr);
    color: var(--white-clr)!important;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.socialIcons{
    font-size: 12px;
    display: flex;
    gap: 10px;
}
.socialIcons a{
    color: var(--white-clr)!important;
}