:root {
  --secondary-clr: #e8505b;
  --primary-clr: #fee6e6;

  --white-clr: #fff;
}
/* typography */
.body1 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
.body2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
